* {
  box-sizing: content-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
}
h1 {
  font-size: 2.2rem;
}
body {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: #ffffff;
}
.page-header {
  color: #335576;
}
a {
  text-decoration: none;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__item {
  list-style: none;
  margin-left: 1.5rem;
}
.nav__link {
  color: black;
}
.nav__item--highlight {
  border-bottom: 4px solid #db7a4e;
  padding-bottom: 0.5rem;
}
