/* This part is global */
* {
  box-sizing: content-box;
  font-family: Verdana;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
/* This part is header and nav */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: #ffffff;
  height: 3.2rem;
}
.page-header {
  color: #335576;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__item {
  list-style: none;
  margin-left: 1.5rem;
  padding-top: 0.6rem;
}
.nav__link {
  color: black;
}
.nav__item--highlight {
  border-bottom: 4px solid #db7a4e;
  padding-bottom: 0.5rem;
}
/* This part is footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 13.1rem 2rem 12.8rem;
  background-color: #fefaf5;
}
.footer__info--days {
  display: flex;
  justify-content: space-between;
}
.footer__hours--card {
  display: flex;
  flex-direction: column;
}
.footer__title,
.footer__detail {
  color: #335576;
}
.footer__info {
  font-size: 0.5rem;
  margin-top: 0;
  color: #db7a4e;
}
.footer__detail {
  font-size: 0.8rem;
  margin-top: 0;
}
.footer__hours--card {
  padding-right: 2rem;
}

.footer__social {
  width: 9rem;
}
.footer__social--list {
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__icon {
  height: 25px;
}
/* This part for destination pages */
.main-content {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100vw;
  height: 75vh;
  margin-top: -1.7rem;
}
.main__title {
  position: relative;
  width: 20rem;
  top: 3rem;
  left: 5rem;
  color: white;
  font-weight: 700;
  font-size: 3rem;
}
.itinerary {
  display: flex;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
}
.itinerary__card {
  background-color: white;
  width: 30%;
  height: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0.3rem;
}
.itinerary__day {
  border-bottom: 2px solid black;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}
.itinerary__day--cards {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.itinerary__day--activities {
  text-align: center;
  background-color: #fefaf5;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  list-style: none;
}
