/* This part is global */
* {
  box-sizing: content-box;
  font-family: Verdana;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
/* This part is header and nav */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: #ffffff;
  height: 3.2rem;
}
.page-header {
  color: #335576;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__item {
  list-style: none;
  margin-left: 1.5rem;
  padding-top: 0.6rem;
}
.nav__link {
  color: black;
}
.nav__item--highlight {
  border-bottom: 4px solid #db7a4e;
  padding-bottom: 0.5rem;
}
/* This part is footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 13.1rem 2rem 12.8rem;
  background-color: #fefaf5;
}
.footer__info--days {
  display: flex;
  justify-content: space-between;
}
.footer__hours--card {
  display: flex;
  flex-direction: column;
}
.footer__title,
.footer__detail {
  color: #335576;
}
.footer__info {
  font-size: 0.5rem;
  margin-top: 0;
  color: #db7a4e;
}
.footer__detail {
  font-size: 0.8rem;
  margin-top: 0;
}
.footer__hours--card {
  padding-right: 2rem;
}

.footer__social {
  width: 9rem;
}
.footer__social--list {
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__icon {
  height: 25px;
}
