.hero {
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  background-color: #fefaf5;
  color: #335576;
}
.hero__title {
  /* height: 10rem; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
}
.hero__pic {
  height: 23rem;
  width: 28rem;
}

.hero__title--button {
  background-color: #db7a4e;
  padding: 0.7rem 2rem;
  border-radius: 3rem;
  width: 7rem;
  text-align: center;
  margin-top: 2rem;
  color: white;
}
